<table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
                <tbody>
    <%@person.employee.departments.each do |d| %>
            <tr>
                <td><%= link_to d.id, d%></td>
                <td><%=d.name%></td>
            </tr>
        
    <%end%>
    </tbody>
</table>