<table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody>
    <%@person.employee.jobs.each do |j| %>
            <tr>
                <td><%= link_to j.id, j%></td>
                <td><%=j.name%></td>
            </tr>
        
    <%end%>
    </tbody>
</table>