<table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </thead>
        <tbody>
    <%@person.employee.service_employees.each do |j| %>
        
            <tr>
                <td><%= link_to j.service.id, j.service%></td>
                <td><%=j.service.name%></td>
                <td><%=delete_btn(j)%></td>
            </tr>
        
    <%end%>
    </tbody>
</table>