<h1>People</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to 'New Person', new_person_path, class: "dropdown-item", remote: true%>
      </div>
    </li>
  </ul>
</nav>

<ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-top: 10px;">
    <li class="nav-item">
      <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="employees-tab" data-toggle="tab" href="#employees" role="tab" aria-controls="employees" aria-selected="true">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="customers-tab" data-toggle="tab" href="#customers" role="tab" aria-controls="customers" aria-selected="true">Customers</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'all'%>
      </div>
    </div>
    <div class="tab-pane fade" id="employees" role="tabpanel" aria-labelledby="employees-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'employees'%>
      </div>
    </div>
    <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">
      <div class="container-fluid" style="padding-top: 10px;">
        <%= render 'customers'%>
      </div>
    </div>
</div>


