<h1>Editing Project Customer Role</h1>

<%= render 'form', project_customer_role: @project_customer_role %>

<%= link_to 'Show', @project_customer_role %> |
<%= link_to 'Back', project_customer_roles_path %>
