<h1>Editing Purchase Order Service</h1>

<%= render 'form', purchase_order_service: @purchase_order_service %>

<%= link_to 'Show', @purchase_order_service %> |
<%= link_to 'Back', purchase_order_services_path %>
