<h1>Editing Product Assembly Component</h1>

<%= render 'form', product_assembly_component: @product_assembly_component %>

<%= link_to 'Show', @product_assembly_component %> |
<%= link_to 'Back', product_assembly_components_path %>
