<table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </thead>
                <tbody>
    <%@project.project_employees.each do |d| %>
            <tr>
                <td><%= link_to d.employee.id, d.employee.person%></td>
                <td><%=d.employee.person.name%></td>
                <td><%=d.employee.person.email%></td>
                <td><%=delete_btn(d)%></td>
            </tr>
        
    <%end%>
    </tbody>
</table>