
<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h4><i class="icon fa fa-ban"></i><%= pluralize(object.errors.count, "Error") %></h4>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
<% end %>