<% flash[:notice].try(:each) do |message| %>
<div class="position-absolute w-100 d-flex flex-column p-4">
    <div class="toast ml-auto" role="alert" data-delay="1500" data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-primary"><i class="fa fa-info-circle"></i> Notice</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body" style="background-color:white">
            <%=message%>
        </div>
    </div>
</div>
<%end%>

<% flash[:success].try(:each) do |message| %>
<div class="position-absolute w-100 d-flex flex-column p-4">
    <div class="toast ml-auto" role="alert" data-delay="1500" data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-success"><i class="fa fa-check-circle"></i> Success</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body" style="background-color:white">
            <%=message%>
        </div>
    </div>
</div>
<%end%>

<% flash[:alert].try(:each) do |message| %>
<div class="position-absolute w-100 d-flex flex-column p-4">
    <div class="toast ml-auto" role="alert" data-delay="1500" data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-danger"><i class="fa fa-ban"></i> Alert</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body" style="background-color:white">
            <%=message%>
        </div>
    </div>
</div>
<%end%>

<script>
$(document).ready(function(){
    $('.toast').toast('show')
});
</script>